body
{
	font-family: 'Signika', sans-serif;
	background-color: black;
}

h1
{
	color: lime;
}

form
{
	font-size: 20px;
	color: lime;
	width: 500px;
	margin : auto;
	background : black;
	padding: 20px 20px 20px 20px;
}

input
{
	width: 80%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 18px;
    margin-top: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 20px;
    outline: none;
}

input:active, input:focus {
    border: 3px solid lime;
}

input[type=submit]
{
	width: 40%;
    height: 40px;
    background: limegreen;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid limegreen;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background: lime;
}

.errmsg
{
	font-size: 30px;
	margin-top: 50px;
	color: red;
	text-align: center;
}

.succtext
{
	font-size: 30px;
	margin-top: 50px;
	color: green;
	text-align: center;
}

.username
{
	color: yellow;
	font-size: 20px;
	margin-top: 10px;
}

.head
{
	margin-left: 15px;
	margin-top: 15px;
	padding: 5px 3px 5px 3px;
	background-color: green;
	width: 100px;
}

.logout
{
	font-size: 30px;
	text-align: center;
	position: absolute;
	right: 1%;
	padding: 5px 5px 5px 3px;
	background-color: green;
	width: 100px;
	height: 40px;
	z-index: 1000;
}

.logout a
{
	text-decoration: none;
}

a
{
	text-decoration: none;
	color: orange;
}

#bottom
{
	color : lime;
}
